* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f5f5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #1e293b;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }

  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: monospace;
  display: inline-flex;
  border-radius: 4px;
  color: #1e293b;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: #f3f4f6;
}
